.container{
    width: 100%;
    border: none;
}

.up{
    margin-top: 30px;
    width: 100%;
    border: none;
    text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
}

#forCells>div{
    width: 8%;
    height: 10%;
    border: 1px solid black;
    display: inline-flex;
    flex: 1 auto 1 ;
    text-rendering: none;
}

#forCells{
    margin-top: 20px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    align-content: center;
}

span{
    opacity: 0;
}

#num{
    width: 150px;
}

#num:focus {
    border: 2px solid purple;
}

.myButtons {  
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
  
    background: #fff;
    color: #000;
    font-size: 1em;
    text-decoration: none;
}

.myButtons:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
    cursor: pointer;
}

.myButtons:disabled{
    background-color: white;
    background: linear-gradient(to right, rgb(74, 75, 77), rgb(75, 70, 77));
    color: grey;
    border-image: linear-gradient(to right, rgb(93, 95, 97) 0%, rgb(64, 61, 65) 100%);
    cursor: not-allowed;
}

@media only screen and (max-width:320px) {
    #forCells>div{
        width: 30px;
        height: 7%;        
    }
}